.outputOkucia {
    width: 100%;
    box-sizing: border-box;
}

.outputOkucia a {
    color: black;
    text-decoration: underline;
}

.drawerHeader {
    border-bottom: 1px solid var(--red-color);
}

.drawerDetails .col {
    font-size: 14px;
    padding: 8px 15px;
}

.narrow {
    width: 85px;
}

.drawersDetailsWrapper {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition-duration: 1s;
}

.toggleButton {
    width: 25px;
    cursor: pointer;
}

.plus, .minus {
    margin-left: auto;
    width: 15px;
    height: 15px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    box-sizing: border-box;
}

.plus {
    border-color: var(--green-color);
    color: var(--green-color);
}

.minus {
    padding-bottom: 2px;
    border-color: var(--red-color);
    color: var(--red-color);
}

.sumaOkuc {
    background-color: var(--red-color);
    color: white;
    font-size: 18px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

@media (max-width: 950px) {
    .outputOkucia {
        width: 100vw;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 2rem;
    }

    .sumaOkuc {
        height: 35px;
        box-sizing: border-box;
    }
}
