.toolsListWrapper {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 100%;
    /* max-width: 600px;
    margin-left: auto;
    margin-right: auto; */
}

.toolsListWrapper div {
    border-bottom: 1px solid #ccc;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolsListWrapper div a {
    color: black;
    text-decoration: underline;
}

div.toolTypeHeader {
        font-size: 16px;
        font-weight: bold;
        color: var(--red-color);
        border-bottom: 2px solid var(--red-color);
        width: 100%;
        box-sizing: border-box;
        grid-column: 1/3;
        margin-top: 14px;
    }

@media (max-width: 950px) {
    .toolsListWrapper {
        max-width: 100vw;
        box-sizing: border-box;
    }

    .toolsListWrapper div {
        padding: 0 10px;
    }
}
