.outputFormatki {
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.parent {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 950px) {
    .outputFormatki {
        width: 100vw;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 2rem;
    }

    h1.innerHeaders {
        font-size: 20px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        margin-top: 1rem;
    }
}

.descriptionPrint {
    display: none;
}

@media print {
    .descriptionPrint {
        display: block;
    }
    .outputFormatki {
        max-width: none;
    }
}

.typeHeader {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.row {
    display: flex;
    border-bottom: 1px solid #ccc;
    width: 100%;
    justify-content: center;
    position: relative;
}

.col {
    padding: 15px;
    text-align: center;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.descriptionOverflow {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 40px;
    display: flex;
    left: 105%;
    justify-content: center;
    align-items: center;
    background-color: var(--red-color);
    color: white;
    z-index: 1;
    top: 7px;
}

.descriptionOverflow:after {
    content: "";
    background-color: var(--red-color);
    width: 28.5px;
    height: 28.5px;
    position: absolute;
    transform: rotate(45deg);
    top: 5.5px;
    left: -14px;

}

.okleina {
    width: 40px;
    height: 20px;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
}

.full {
    border: 3px solid var(--green-color);
}

.d1 {
    border-top: 3px solid var(--green-color);
}

.k1 {
    border-left: 3px solid var(--green-color);
}

.dk1 {
    border-left: 3px solid var(--green-color);
    border-top: 3px solid var(--green-color);
}

.d2 {
    border-top: 3px solid var(--green-color);
    border-bottom: 3px solid var(--green-color);
}

.k2 {
    border-left: 3px solid var(--green-color);
    border-right: 3px solid var(--green-color);
}

.k32 {
    border: 3px solid var(--green-color);
    border-bottom: 1px solid #ccc;
}

.d32 {
    border: 3px solid var(--green-color);
    border-right: 1px solid #ccc;
}
