:root {
    --green-color: #5b9e72;
    --light-green-color: #d1e2d5;
    --blue-color: #64a6d6;
    --red-color: #e26b56;
    --red-color-transparent: rgba(226,107,86, .3);
}


body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

input {
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    background-color: transparent;
    border: 1px solid black;
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
}

.animation-pulse {
    animation:
        pulse
        0.7s
        ease-out
        0s
        alternate
        infinite
}


@keyframes pulse {
    100% {
        transform: scale(1.05);
    }
}

.wrapper {
    display: inline-block;
}

.contentWrapper {
    padding: 10px;
    transition: all 1s;
}

.App {
  text-align: center;
}

.header {
    font-family: 'Reenie Beanie', cursive;
    font-size: 60px;
}

.redDot {
    color: var(--red-color);
}

.sizeInput {
    width: 400px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}

.innerHeaders {
    font-weight: lighter;
    font-size: 30px;
    letter-spacing: -2px;
    padding-top: 30px;
}

.instrukcja {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listaIntrukcji {
    text-align: left;
}

.szuflada {
    margin: 3px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 5%;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: #999;
    box-sizing: border-box;
}

.aktywnaSzuflada {
    color: var(--green-color);
    border: 1px solid var(--green-color);
    background-color: var(--light-green-color);
}

.aktualnaWysokosc {
    font-size: 16px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.green {
    color: white;
    background-color: var(--green-color);
}

.red {
    color: white;
    background-color: var(--red-color);
}

.blue {
    color: white;
    background-color: var(--blue-color);
}

.radioContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkboxSwitch {
    display: inline-block;
    margin: 0px 10px;
    position: relative;
    width: 36px;
    height: 24px;
}

.radioSwitch {
    display: block;
    margin: 0px 10px;
    position: relative;
    width: 24px;
    height: 24px;
}

.checkboxLabel {
    display: flex;
    margin: 5px 0px;
    align-items: center;
    cursor: pointer;
}

.checkboxLabel input, .radioContainer input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: .4s;
    border-radius: 14px;
    border: 1px solid var(--red-color);
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  top: 2px;
  background-color: var(--red-color);
  transition: .5s;
  border-radius: 50%;
}

.radio:before {
    height: 14px;
    width: 14px;
    left: 4px;
    top: 4px;
    background-color: transparent;
}

input:checked + .slider {
  border-color: var(--green-color);
}

input:checked + .slider:before {
  transform: translateX(12px);
  background-color: var(--green-color);
}

input:checked + .radio:before {
    transform: none;
}
