.outputFormatki {
    width: 400px;
    margin: 0px 30px;
}

.parent {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 950px) {
    .outputFormatki {
        width: 100vw;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 2rem;
    }

    h1.innerHeaders {
        font-size: 20px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        margin-top: 1rem;
    }
}

.typeHeader {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


.row {
    display: flex;
    border-bottom: 1px solid #ccc;
    width: 100%;
    justify-content: center;
}

.col {
    padding: 15px;
    text-align: center;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.okleina {
    width: 40px;
    height: 20px;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
}

.full {
    border: 3px solid var(--green-color);
}

.d1 {
    border-top: 3px solid var(--green-color);
}

.k1 {
    border-left: 3px solid var(--green-color);
}

.dk1 {
    border-left: 3px solid var(--green-color);
    border-top: 3px solid var(--green-color);
}

.d2 {
    border-top: 3px solid var(--green-color);
    border-bottom: 3px solid var(--green-color);
}

.k2 {
    border-left: 3px solid var(--green-color);
    border-right: 3px solid var(--green-color);
}

.k32 {
    border: 3px solid var(--green-color);
    border-bottom: 1px solid #ccc;
}

.d32 {
    border: 3px solid var(--green-color);
    border-right: 1px solid #ccc;
}
