.ListaZakupowWrapper {
    display: flex;
    flex-direction: row;
}

@media (max-width: 950px) {
    .ListaZakupowWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
