.szafkaNieprawidlowa {
    color: var(--red-color);
    line-height: 1.2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--red-color);
    box-sizing: border-box;
}

.kreatorNowejSzafki {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 2rem;
}

.kreatorNowejSzafki div {
    justify-self: center;
}

.kitchenDone {
    color: white;
    background-color: var(--green-color);
    border: 0px;
}

@media(max-width: 950px) {
    .kitchenStateCol {
        display: none;
    }

    .kreatorNowejSzafki {
        margin-top: .7rem;
        max-width: 100vw;
    }

    .szafkaNieprawidlowa {
        margin-top: 0;
        margin-bottom: 20px;
        max-width: 320px;
    }

    .kitchenDone {
        margin-bottom: 2rem;
        max-width: 320px;
        line-height: 1.5rem;
    }
}
