.parent {
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 800px) {
    .parent {
        width: 50%;
    }
}

.typeHeader {
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    color: #e26b56;
    border-bottom: 2px solid #e26b56;
    width: 345px;
    padding: 10px;
}


.row {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.col {
    padding: 15px;
    text-align: center;
    width: 90px;
}

.okleina {
    width: 40px;
    height: 20px;
    border: 1px solid #ccc;
}

.full {
    border: 2px solid green;
}

.d1 {
    border-top: 2px solid green;
}

.k1 {
    border-left: 2px solid green;
}

.dk1 {
    border-left: 2px solid green;
    border-top: 2px solid green;
}

.d2 {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}

.k2 {
    border-left: 2px solid green;
    border-right: 2px solid green;
}

.k32 {
    border: 2px solid green;
    border-bottom: 1px solid #ccc;
}

.d32 {
    border: 2px solid green;
    border-right: 1px solid #ccc;
}
