.nowaSzafkaFormularz {
    line-height: 2rem;
    padding: 20px;
    max-width: 500px;
}

.formularzNowejSzafki {
    text-align: left;
}

.confirmCabinetButton {
    font-size: 20px;
    font-weight: 600;
    color: white;
    box-shadow: 3px 5px 8px #ccc;
    border: none;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.confirmCabinetButton:hover {
    transform: scale(1.05);
}

.confirmCabinetButton[disabled] {
    box-shadow: none;
    opacity: 0.3;
    cursor: not-allowed;
}

@media (max-width: 950px) {
    .nowaSzafkaFormularz {
        max-width: 100vw;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

    .confirmCabinetButton {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 65px;
        bottom: 10px;
        font-size: 40px;
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        z-index: 100;
        transition: all .5s;
    }

    .confirmCabinetButton[disabled] {
        opacity: 1;
        background-color: var(--red-color);
        transform: rotate(45deg);
    }
}

.przyciskWyrownajSzuflady {
    font-size: 16px;
    font-weight: 600;
    color: white;
    width: 300px;
    cursor: pointer;
}

.poleFormularzaSzuflad {
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    cursor: pointer;
}

.poleFormularzaSzuflad[disabled] {
    background-color: #ddd;
}

.poleWysokosc {
    border-left: 0px;
    border-right: 0px;
    cursor: auto;
}

.cabinetWidthInput {
    margin-left: 10px;
    border-right: 0px;
    text-align: center;
        font-size: 16px;
}

.fillWidthButton {
    background-color: var(--blue-color);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.fillWidthButton:disabled {
    opacity: .5;
    cursor: not-allowed;
}
