.nowaSzafkaFormularz {
    line-height: 2rem;
    padding: 20px;
    width: 500px;
}

.kreatorNowejSzafki {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    margin-top: 2rem;
}


.formularzNowejSzafki {
    text-align: left;
}

.szafkaNieprawidlowa {
    color: var(--red-color);
    line-height: 1.2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--red-color);
}

.szafkaPrawidlowa {
    display: none;
}

.confirmCabinetButton {
    font-size: 20px;
    font-weight: 600;
    color: white;
    box-shadow: 3px 5px 8px #ccc;
    border: none;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.confirmCabinetButton:hover {
    transform: scale(1.05);
}

.confirmCabinetButton[disabled] {
    box-shadow: none;
    opacity: 0.3;
    cursor: not-allowed;
}

.przyciskWyrownajSzuflady {
    font-size: 16px;
    font-weight: 600;
    color: white;
    width: 300px;
    cursor: pointer;
}

.poleFormularzaSzuflad {
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    cursor: pointer;
}

.poleFormularzaSzuflad[disabled] {
    background-color: #ddd;
}

.poleWysokosc {
    border-left: 0px;
    border-right: 0px;
    cursor: auto;
}

.cabinetWidthInput {
    margin-left: 10px;
    border-right: 0px;
    text-align: center;
        font-size: 16px;
}

.fillWidthButton {
    background-color: var(--blue-color);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.fillWidthButton:disabled {
    opacity: .5;
    cursor: not-allowed;
}
