.paramsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -40px;
    width: 85%;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

.paramsForm {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.paramVisualization {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
}

.paramVisualization img {
    margin: 35px;
    width: 300px;
}

.chooseKitchenType {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.setDefaultValuesButton, .setDefaultValuesMessage {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 250px;
    height: 50px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .4);
    font-size: 17px;
    background-color: var(--blue-color);
    border: 0px;
    cursor: pointer;
    animation: none;
}

@media (max-width: 950px) {
    h2.header {
        font-size: 28px;
        margin: 10px 0;
    }

    h3 {
        font-size: 18px;
    }

    .paramsContainer {
        margin-top: 10px;
        height: 100%;
        width: 90%;
    }

    .chooseKitchenType {
        line-height: .5rem;
    }

    .paramsForm {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    div.paramInput {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        padding-top: 10px;
        border-top: 1px solid #eee;
    }

    .paramVisualization {
        display: none;
    }

    .setDefaultValuesButton, .setDefaultValuesMessage {
        outline: none;
        position: fixed;
        bottom: 10px;
        right: 65px;
        border-radius: 25px;
        height: 50px;
        width: 50px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 30px;
        transition: all .3s;
    }

    .setDefaultValuesMessage {
        width: 200px;
        border-radius: 25px;
        font-size: 16px;
        transition: all .3s;
        right: 130px;
    }

    .confirmButton, .rejectButton {
        border-radius: 25px;
        color: white;
        font-size: 30px;
        position: fixed;
        bottom: 10px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        outline: none;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, .4);
    }

    .confirmButton {
        background-color: var(--green-color);
        right: 70px;

    }

    .rejectButton {
        background-color: var(--red-color);
        right: 10px;
        z-index: 100;
        box-shadow: none;
    }

}
