.kitchenStateWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 35px;
    width: 400px;
}

.kitchenPropLine {
    line-height: 3rem;
    border-bottom: 1px solid var(--green-color);
}

.kitchenPropLineWarning {
    color: var(--red-color);
    font-weight: bold;
    border-bottom: 2px solid var(--red-color);
    animation-name: pulse-warning;
    animation-duration: .7s;
    animation-direction: alternate;
    animation-iteration-count: 5;
}

@keyframes pulse-warning {
    100% {
        color: white;
        font-weight: bold;
        background-color: var(--red-color);
    }
}

.kitchenPropsLineFull {
    color: var(--green-color);
    font-weight: bold;
    border-bottom: 2px solid var(--green-color);
    animation-name: pulse-full;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 3;
}

@keyframes pulse-full {
    100% {
        color: white;
        font-weight: bold;
        background-color: var(--green-color);
    }
}

.kitchenPropDescription {
    float: left;
}

.kitchenPropValue {
    float: right;
}

.kitchenPropValue::after {
    font-size: .8rem;
    content: "mm";
}

.kitchenPropDescirption {

}
